.orderCard{
    margin-top: 50px;
    margin-bottom: 50px;
    width:400px;
    max-height:1000px;
    background: rgb(232, 93, 93);
    border-radius: 20px;
    box-shadow: 0px 1px 1px 1px  grey;
    font-family: Arial, Helvetica, sans-serif;
    overflow: visible;
}

.userId{
 position: relative;
 font-weight: bold;
    font-size: larger;
    color: white;
    margin-bottom: 30px;
}

.prdo{
 position: relative;
 font-weight: bold;
    font-size: 40px;
    color: white;
    margin-bottom: 30px;
}

.status{
position: relative;
font-weight: bold;
    font-size: 30px;
    color: white;
    margin-bottom: 30px;
}

.price{
position: relative;
top:0px;
font-weight: bold;
    font-size: larger;
    color: white;
}

.accept{
position:relative;
left:-100px;
top:-1px;
width: 80px;
    height: 50px;
    border-radius: 30px;
    border-width: 0;
    background-color:rgb(77, 255, 0);
    font-weight: bold;
    font-size: larger;
    color: white;
    
}
.accept:hover{
    cursor: pointer;
}

.noAcc{
position: relative;
right: -100px;
top: -1px;
width: 80px;
    height: 50px;
    border-radius: 30px;
    border-width: 0;
    background-color:red;
    font-weight: bold;
    font-size: larger;
    color: white;
}
.noAcc:hover{
    cursor: pointer;

}